@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background-color: white; /* White background */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Nice, readable font */
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 33, 37, 41; /* Dark gray text color */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-cream { background-color: #f5f5dc; }
.text-dark-gray { color: #333333; }
.bg-light-gray { background-color: #d3d3d3; }
